Django==1.11.29
djangorestframework==3.11.2
django-cors-headers==2.4.1
django-oauth-toolkit==0.11.0
djangorestframework-oauth==1.1.0
requests==2.25.1
pyyaml==5.4.1
Pillow==8.1.1
https://github.com/crs4/ome_seadragon_cache/archive/v0.2.1.zip